<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <style>
        .short-border {
            border-top: 2px solid black;
            width: 20%;
        }
        p {
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div>
        <div class="registration-mail-body">
            <p>Thank you for applying for MUJI.net membership registration.</p>
            <p>Please enter the following code on the verification code input screen.</p>
            <!-- <p>Verification Code: <strong>${otpCode}</strong></p> Display OTP code -->
            <p>Verification Code: <strong th:text="${otpCode}"></strong></p>
            <p>● Important Notes</p>
            <p>The verification code is valid for 30 minutes from the time the email is sent.</p>
            <p>If the code has expired, please request a new verification code and proceed with the registration.</p>
            <p>※ If you do not remember entering this email address, please contact us using the inquiry form below.</p>
        </div>
        <div class="short-border"></div>
        <div class="registration-mail-footer">
            <p>MUJI Online Store</p>
            <p>■ Contact Us</p>
            <span><a href="https://faq.muji.com/">https://faq.muji.com/</a></span>
            <p>※ Please note that we cannot respond to replies sent to this email address. For inquiries, please contact us using the URL above.</p>
            <p>Issued by: Ryohin Keikaku Co., Ltd.</p>
            <p>〒112-0004 2-5-1 Kōraku, Bunkyō-ku, Tokyo</p>
            <p>(c) Ryohin Keikaku Co., Ltd.</p>
        </div>
        <div class="short-border"></div>
    </div>
</body>
</html>
